@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Our Work";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Signup</title>
    <link rel="stylesheet" href="~/css/network.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Banner Section -->
    <div class="banner">
        <img src="~/Images/Network/Mian.png" alt="Helping Hands" width="400px" height="220px" />
        <h2>Alone we can do so little,<br />together we can do so much.</h2>
    </div>

    <!-- Cards Section -->
    <div class="card-container">
        <div class="card">
            <img src="~/Images/Network/Sathi.png" alt="NGO 1" />
            <p>
                Saath (which in Hindi/Gujarati means ‘together, co-operation, a collective or support’), founded in 1989, is an NGO in India registered as a Public Charitable Trust and is based in Ahmedabad, Gujarat. Saath closely works with the deprived communities and empowers the socially marginalized by providing them livelihood services, and imparting skills leading to employment, health and education facilities. Saath focuses on livelihood services, child rights, human rights, young girls’ education, skill development and other community services.
            </p>
            <a href="https://saath.org/" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/naturalclub.jpeg" alt="NGO 2" />
            <p>
                NGO working for Environment Education, Adventure Activities and Rescue Work since 1985. We are also working on various projects for Conservation, Protection and Breeding.
            </p>
            <a href="https://www.natureclubsurat.org/" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/nanubai.png" alt="NGO 3" />
            <p>
                The Nanubhai Education Foundation works to have a positive impact on financially vulnerable rural students in a scaleable and sustainable way. We seek to empower women by providing them access to quality education. For the past decade we have worked closely with communities in Gujarat and Rajasthan, India.
            </p>
            <a href="https://nanubhai.org/" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/sahkham.png" alt="NGO 3" />
            <p>
                Shaksham foundation is a dream of a group of youngsters with a vision to change the society by supporting orphans, vulnerable women and seniors besides standing by the poor suffering for basic survival. Registered under the Bombay public charitable trust F/21847/Ahmedabad under Society Act Reg. No. GUJ/22263/Ahmedabad as a non-profit organization, we are recognized as a leading NGO in Ahmedabad conducting multiple sustainable development programs.
            </p>
            <a href="https://www.shakshamfoundation.org/" class="btn">View</a>
        </div>
    </div>

</body>
</html>

