@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Our Work";
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Signup</title>
    <link rel="stylesheet" href="~/css/network.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Banner Section -->
    <div class="banner">
        <img src="~/Images/Network/Mian.png" alt="Helping Hands" width="400px" height="220px" />
        <h2>Alone we can do so little,<br />together we can do so much.</h2>
    </div>

    <!-- Cards Section -->
    <div class="card-container">
        <div class="card">
            <img src="~/Images/Network/NGO.png" alt="NGO 1" />
            <p>
                We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for rehabilitation.
            </p>
            <a href="#" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/NGO.png" alt="NGO 2" />
            <p>
                We rescue birds by protecting their habitats, providing food, and raising awareness for their conservation.
            </p>
            <a href="#" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/NGO.png" alt="NGO 3" />
            <p>
                We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for rehabilitation.
            </p>
            <a href="#" class="btn">View</a>
        </div>

        <div class="card">
            <img src="~/Images/Network/NGO.png" alt="NGO 3" />
            <p>
                We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for rehabilitation.
            </p>
            <a href="#" class="btn">View</a>
        </div>
    </div>

</body>
</html>

