@{
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Posts</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS file -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/User.css">
</head>
<body>

    <!-- Middle Content (User Posts Section) -->
    <div class="min-vw-100">
        <!-- User Post Section -->
        <div class="user-posts">

            <!-- Another Post -->
            <div class="post-card">
                <div class="post-header">
                    <h5>Madhvi Sanghani</h5>
                </div>
                <div class="post-content">
                    <p>I found garbage floating in the water, making it look dirty and unsafe. It harms the environment and marine life, showing the need for proper waste disposal.</p>
                    <img src="~/Images/guest/child.png" alt="Pollution Image">
                </div>
                <div class="post-footer">
                    <p>Location   +91 8200860989  Accept  Decline</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
