@{
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="~/css/notification.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container mt-4">
        <div class="notification">
            <img src="~/Images/Network/cow.png" alt="Cow Icon" class="icon" />
            <span>Maa Gauri Gaushala approved your request.</span>
        </div>
        <div class="notification">
            <img src="~/Images/Network/cow.png" alt="Cow Icon" class="icon" />
            <span>Maa Gauri Gaushala took action for your request.</span>
        </div>
        <div class="notification">
            <img src="~/Images/Network/cow.png" alt="Cow Icon" class="icon" />
            <span>Maa Gauri Gaushala rescued the animal.</span>
        </div>
    </div>

</body>
</html>

