@{
    ViewData["Title"] = "About Us";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Signup</title>
    <link rel="stylesheet" href="~/css/AboutUs.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Section 1 -->
    <section>
        <div class="section-container">
            <div class="text-container">
                <h2>HOPE</h2>
                <h2 style="margin-left: 30px;">CONNECT</h2>
                <p>
                    Connect with those who care.<br />
                    Share your photo and let us help you find the<br />
                    right support and resources in your community.<br />
                    We're here to bridge the gap and ensure everyone<br />
                    gets the assistance they need.
                </p>
            </div>
            <div class="image-container">
                <table>
                    <tr>
                        <td>
                            <img src="~/Images/aboutus/child.png" alt="Child">
                        </td>
                        <td>
                            <img src="~/Images/aboutus/river.png" alt="River">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="~/Images/aboutus/animal.png" style="margin-top: 20px;" alt="Animal">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Section 2 -->
    <section>
        <div class="section-container">
            <div class="image-container">
                <img src="~/Images/guest/child2.png" alt="Child 2">
            </div>
            <div class="text-container">
                <p>
                    We connect child beggars, homeless people and <br />
                    orphans to their respective help centers like NGOs, <br />
                    trusts and orphanages online, so organizations can take <br />
                    actions on it.
                </p>
            </div>
        </div>
    </section>

    <!-- Section 3 -->
    <section>
        <div class="section-container">
            <div class="text-container">
                <p>
                    We share photos of injured animals and birds to the <br />
                    veterinary hospitals with location via our website, <br />
                    so they can take actions on time and save the birds <br />
                    and animals.
                </p>
            </div>
            <div class="image-container">
                <img src="~/Images/guest/bird.png" alt="Bird">
            </div>
        </div>
    </section>

</body>
</html>
