@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
    <head>
        <style>
            h2{

            }
        </style>
    </head>
    <body>
    <div style="margin-top: 20px;">
        <div style="float: left;">
            <h2>HOPE</h2>
            <h2 style="margin-left: 30px;">CONNECT</h2>
            <p>
                Connect with those who care.<br />
                Share your photo and let us help you find the<br />
                right support and resources in your community.<br />
                We're here to bridge the gap and ensure everyone<br />
                gets the assistance they need.
            </p>
        </div>
        <div style="float: right;">

        </div>
    </div>
    </body>
</html>
