@{
    ViewData["Title"] = "Privacy Policy";
}

    <section style="margin-top: 50px;">
        <div style="float: left;">
            <h2>HOPE</h2>
            <h2 style="margin-left: 30px;">CONNECT</h2>
            <p style="font-size: 20px;">
                Connect with those who care.<br />
                Share your photo and let us help you find the<br />
                right support and resources in your community.<br />
                We're here to bridge the gap and ensure everyone<br />
                gets the assistance they need.
            </p>
        </div>
        <div style="float: right;">
            <table>
                <tr>
                    <td>
                        <img src="~/Images/aboutus/child.png" />
                    </td>
                    <td>
                        <img src="~/Images/aboutus/river.png" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="~/Images/aboutus/animal.png"  style="margin-left: 100px;"/>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <br />
<section style="margin-top: 310px;">
    <div style="float: left;">
        <img src="~/Images/guest/child2.png">
    </div>
    <div style="float: right;">
            <p style="font-size: 20px; margin-top: 50px;">
                We connect child beggars, homeless people and <br />
                orphans to their respective help centers like NGOs, <br />
                trusts and orphanages online, so organizations can take  <br />
                actions on it.
            </p>
    </div>
</section>
<br />
<section style="margin-top: 310px; >
    <div style="float: left;">
        <p style="font-size: 20px; margin-top: 50px;">
            We share photos of injured animals and birds to the <br />
            veterinary hospitals with location via our website, <br />
            so they can take actions at time and save the birds <br />
            and animals .
        </p>
    </div>
    <div style="float: right;">
        <img src="~/Images/guest/bird.png" />
    </div>
</section>
 
