@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row align-items-center">
        <!-- Text on the left -->
        <div class="col-md-6" style="float: left; text-align: center;">
            <strong><h1>A Beacon Of Light</h1></strong>
            <p style="font-size:larger">
                In a world where you <br /> can be anything,
                <br /><strong style="color : #E38B29">BE KIND!</strong>
            </p>
        </div>

        <!-- Image on the right -->
        <div class="col-md-6 text-center" style="float: right;">
            <img src="~/Images/guest/HeroImage.png" class="img-fluid" alt="Hope Connect">
        </div>
    </div>
</div>


<div class="section">The lives we touch</div>


<div class="cards-container">
    <div class="card">
        <img src="~/Images/guest/child.png" alt="Child Rescue">
        <h3>Child Rescue</h3>
        <p>We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for their rehabilitation.</p>
        
    </div>
    <div class="card">
        <img src="~/Images/guest/bird.png" alt="Sparrow Rescue">
        <h3>Sparrow Rescue</h3>
        <p>We rescue injured sparrows by providing rehabilitation, shelter, and food before they return to their natural habitat.</p>
     
    </div>
    <div class="card">
        <img src="~/Images/guest/child2.png" alt="Child Rescue">
        <h3>Child Rescue</h3>
        <p>We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for their rehabilitation.</p>
     
    </div>

</div>


<div class="cards-container">
    <div class="card">
        <img src="~/Images/guest/child.png" alt="Child Rescue">
        <h3>Child Rescue</h3>
        <p>We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for their rehabilitation.</p>
        
    </div>
    <div class="card">
        <img src="~/Images/guest/bird.png" alt="Sparrow Rescue">
        <h3>Sparrow Rescue</h3>
        <p>We rescue injured sparrows by providing rehabilitation, shelter, and food before they return to their natural habitat.</p>
        
    </div>
    <div class="card">
        <img src="~/Images/guest/child2.png" alt="Child Rescue">
        <h3>Child Rescue</h3>
        <p>We rescue child beggars by reporting, tracking, and connecting them with welfare organizations for their rehabilitation.</p>
        
        
    </div>

</div>
